@import "tailwindcss";


:root{
  --bg: 10 10 12;
  --fg: 245 245 248;
  --muted: 160 160 170;
  --gold: 210 170 95;
}

html, body { height: 100%; }
body{
  background: rgb(var(--bg));
  color: rgb(var(--fg));
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
}

/* elegant selection */
::selection { background: rgba(210,170,95,.25); }

/* subtle grain */
.grain:before{
  content:"";
  position:absolute; inset:0;
  background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='180' height='180'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.9' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='180' height='180' filter='url(%23n)' opacity='.25'/%3E%3C/svg%3E");
  opacity:.12; mix-blend-mode: overlay; pointer-events:none;
}